body {
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    font-family: georgia;
    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: rgb(2, 153, 153);
}

a:visited {
    color: #ff9966;
}

a:hover {
    color: rgb(189, 4, 189);
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 280px;
    padding: 30px;
}

nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.navigation-items {
    display: flex;
    font-family: calibri;
    font-size: 28px;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    font-weight: bold;
}

nav li {
    margin-left: 15px;
    margin-right: 15px;
}

nav li a:link {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 18px;
        padding: 25px;
    }
    
    header img {
        padding: 15px;
    }
  
    nav {
        display: block;
    }
  
    nav h1 {
        margin-left: 0px;
        font-size: 24px;
        text-align: center;
        justify-content: center;
    }
  
    .navigation-items {
        margin-right: 0px;
        font-size: 22px;
        justify-content: center;
    }
  
    #small {
        display: block;
        margin-top: 15px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        width: 70%;
        max-width: 200px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    body {
      font-size: 18px;
      padding: 25px;
    }
  
    nav {
      display: block;
    }
  }